body {
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    font: normal normal normal 16px arial;
    padding: 20px;
    
}
  
 
.structural{
    padding :10px;
    margin : 10px;
    border : 2px round black;
    border-radius: 30px; 
 }

 h1,h2{
    color: #ee4f35;
    font-variant: small-caps;
 }
 main{
    float : left;
    width : 60vw;
    margin: 0px 0px 15px 0px;
    padding: 10px;
 }

 aside{
    float : right;
    width : 25vw;
    margin: 0px 0px 15px 0px;
    padding: 10px;
 }

 .image{
    width: 40%;
    max-width: 100px;
    height: auto;
    border: 0.5px solid #c6c057;
}

figcaption{
    font-weight: bold;
    font-variant: small-caps;
}

q{
    font-size: 1.5em;
    font-family: cursive;
    font-style: italic;    
}

aside ul li{
    list-style: none;
    line-height: 2;
}

aside ul li a{
    text-decoration: none;
    color: #8e35ee;
}

aside a:hover{
    color: #b5788e;
}

footer{
    clear: both;
}

footer p{
    font-size: 0.75em;
    color: #35c9ee;
}